<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../../static/bootstrap-4.3.1-dist/css/bootstrap.min.css"
          th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="../../static/bootstrap-4.3.1-dist/css/custom.css" th:href="@{/bootstrap-4.3.1-dist/css/custom.css}">

</head>
<body id="head-image">

    <div class="container-fluid">
    <div class="row my-4">
        <h3 class="text-white justify-content-start col ml-3">Delux</h3>
        <ul class="nav justify-content-end">
            <li class="nav-item col">
                <a class="nav-link active text-white mx-3" href="#">Active</a>
            </li>

            <li class="nav-item col">
                <a class="nav-link active text-white mx-3" href="#">Link</a>
            </li>

            <li class="nav-item col">
                <a class="nav-link active text-white mx-3" href="#">Contact</a>
            </li>
            <li class="nav-item col">
                <a class="nav-link active text-white mx-3" href="#">Disable</a>
            </li>
        </ul>
    </div>
    </div>

    <div class="text-white text-center">
        <h3>Welcome to the Delux</h3>
        <p class="text-muted">Hotel &amp; Resort</p>
    </div>




<!--    <nav class="navbar navbar-expand-lg navbar-color bg-light"  >-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

<!--        <a class="navbar-brand" href="#">Delux</a>-->

<!--        <div class="collapse navbar-collapse" id="navvarTogglerDemo03">-->
<!--            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 mr-3 justify-content-end ">-->
<!--                <li class="nav-item active mx-3">-->
<!--                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--                </li>-->
<!--                <li class="nav-item mx-3">-->
<!--                    <a class="nav-link" href="#">Rooms</a>-->
<!--                </li>-->
<!--                <li class="nav-item mx-3">-->
<!--                    <a class="nav-link" href="#">About</a>-->
<!--                </li>-->
<!--                <li class="nav-item mx-3">-->
<!--                    <a class="nav-link" href="#">Contact</a>-->
<!--                </li>-->

<!--            </ul>-->

<!--        </div>-->

<!--    </nav>-->


<!--    <div id="head-image">-->
<!--        <div class="container">-->
<!--            <p>The very short stories for kids are collected diligently and presented here for your reference. Our team of story-narrators have spent a lot of time off-line to collect all these short stories,-->
<!--                changed them suitable to our readers and presented them here for your reference. WE always salute them for their relentless efforts.-->
<!--                They also have created few short stories of their own. Our readers who have been visiting this site for a long time have repeatedly asked us to add more number of short stories. In order to meet their demands, we did our best of efforts. Our thousands of readers have appreciated our contribution and efforts. With their help, we are continuously adding more and more number of short stories. It is only YOU who should judge our works-->
<!--                The very short stories for kids are collected diligently and presented here for your reference. Our team of story-narrators have spent a lot of time off-line to collect all these short stories, changed them suitable to our readers and presented them here for your reference. WE always salute them for their relentless efforts. They also have created few short stories of their own. Our readers who have been visiting this site for a long time have repeatedly asked us to add more number of short stories. In order to meet their demands, we did our best of efforts. Our thousands of readers have appreciated our contribution and efforts. With their help, we are continuously adding more and more number of short stories.-->
<!--                It is only YOU who should judge our works</p>-->
<!--        </div>-->
<!--    </div>-->

</body>
</html>